Law_Saga/src/conf/xml-resources/web-service-references/BankWebServices/wsdl/localhost_8080/BankSaga/BankWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.bank.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.bank.com/" name="BankWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://services.bank.com/" schemaLocation="http://localhost:8080/BankSaga/BankWebServices?xsd=1" />
</xsd:schema>
</types>
<message name="isValid">
<part name="parameters" element="tns:isValid" />
</message>
<message name="isValidResponse">
<part name="parameters" element="tns:isValidResponse" />
</message>
<message name="deposit">
<part name="parameters" element="tns:deposit" />
</message>
<message name="depositResponse">
<part name="parameters" element="tns:depositResponse" />
</message>
<message name="witdraw">
<part name="parameters" element="tns:witdraw" />
</message>
<message name="witdrawResponse">
<part name="parameters" element="tns:witdrawResponse" />
</message>
<message name="getAmount">
<part name="parameters" element="tns:getAmount" />
</message>
<message name="getAmountResponse">
<part name="parameters" element="tns:getAmountResponse" />
</message>
<message name="charge">
<part name="parameters" element="tns:charge" />
</message>
<message name="chargeResponse">
<part name="parameters" element="tns:chargeResponse" />
</message>
<message name="isExists">
<part name="parameters" element="tns:isExists" />
</message>
<message name="isExistsResponse">
<part name="parameters" element="tns:isExistsResponse" />
</message>
<message name="getAllCreditCard">
<part name="parameters" element="tns:getAllCreditCard" />
</message>
<message name="getAllCreditCardResponse">
<part name="parameters" element="tns:getAllCreditCardResponse" />
</message>
<portType name="BankWebServices">
<operation name="isValid">
<input wsam:Action="http://services.bank.com/BankWebServices/isValidRequest" message="tns:isValid" />
<output wsam:Action="http://services.bank.com/BankWebServices/isValidResponse" message="tns:isValidResponse" />
</operation>
<operation name="deposit">
<input wsam:Action="http://services.bank.com/BankWebServices/depositRequest" message="tns:deposit" />
<output wsam:Action="http://services.bank.com/BankWebServices/depositResponse" message="tns:depositResponse" />
</operation>
<operation name="witdraw">
<input wsam:Action="http://services.bank.com/BankWebServices/witdrawRequest" message="tns:witdraw" />
<output wsam:Action="http://services.bank.com/BankWebServices/witdrawResponse" message="tns:witdrawResponse" />
</operation>
<operation name="getAmount">
<input wsam:Action="http://services.bank.com/BankWebServices/getAmountRequest" message="tns:getAmount" />
<output wsam:Action="http://services.bank.com/BankWebServices/getAmountResponse" message="tns:getAmountResponse" />
</operation>
<operation name="charge">
<input wsam:Action="http://services.bank.com/BankWebServices/chargeRequest" message="tns:charge" />
<output wsam:Action="http://services.bank.com/BankWebServices/chargeResponse" message="tns:chargeResponse" />
</operation>
<operation name="isExists">
<input wsam:Action="http://services.bank.com/BankWebServices/isExistsRequest" message="tns:isExists" />
<output wsam:Action="http://services.bank.com/BankWebServices/isExistsResponse" message="tns:isExistsResponse" />
</operation>
<operation name="getAllCreditCard">
<input wsam:Action="http://services.bank.com/BankWebServices/getAllCreditCardRequest" message="tns:getAllCreditCard" />
<output wsam:Action="http://services.bank.com/BankWebServices/getAllCreditCardResponse" message="tns:getAllCreditCardResponse" />
</operation>
</portType>
<binding name="BankWebServicesPortBinding" type="tns:BankWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="isValid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deposit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="witdraw">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAmount">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="charge">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="isExists">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCreditCard">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="BankWebServices">
<port name="BankWebServicesPort" binding="tns:BankWebServicesPortBinding">
<soap:address location="http://localhost:8080/BankSaga/BankWebServices" />
</port>
</service>
</definitions>